{% extends "base.jinja" %}
{% block content %}

<div class="program-section">
    <h2 class="text-center">{{ production.thanks }}</h2>
</div>
<div class="m-5 py-5 text-center">
    <div class="btn-group" role="group" aria-label="Program Navigation">
        <a href="/view/cast" class="btn btn-outline-dark btn-lg mx-2">Cast</a>
        <a href="/view/team" class="btn btn-outline-dark btn-lg mx-2">Crew</a>
        <a href="/view/songs" class="btn btn-outline-dark btn-lg mx-2">Songs</a>
    </div>
</div>

{% endblock %}